# Posthog
NEXT_PUBLIC_POSTHOG_KEY=...
NEXT_PUBLIC_POSTHOG_HOST=...

# Google
GOOGLE_BOOKS_API_KEY=...
GOOGLE_SERVICE_ACCOUNT_EMAIL=...
GOOGLE_PRIVATE_KEY=...
GOOGLE_SHEET_ID=...

# Spotify
SPOTIFY_ACCESS_CODE=...
SPOTIFY_ACCESS_TOKEN=...
SPOTIFY_REFRESH_TOKEN=...
SPOTIFY_CLIENT_SECRET=...
SPOTIFY_CLIENT_ID=...
